/* 
  HEADER
*/

/* Header Comand */
.speaker-view,
.invert{
  background-color: #4A4A4A;
  color: white;
  padding: 4px 4px;
  margin: 3px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.speaker-view:hover,
.invert:hover{
  background-color: darkgray;
  cursor: pointer;
}

/* Speaker View */
.speaker-view i{
  margin-right: 3px;
}

.speaker-view p{
  font-size: .9rem;
}

/* Invert */
.invert i{
  transform: rotate(45deg);
  margin-left: 1px;
}

/* 
  /HEADER
*/


/* 
  MAIN
*/
.picture-container{
  flex-wrap: wrap;
  justify-content: space-between;
}

/* User Picture */
.pic-box{
  position: relative;
  margin-bottom: 20px;
}

/* User Name - Mic */
.username-mic{
  padding: 7px 7px;
  background-color: grey;
  height: 30px;
  position: absolute;
  bottom: 0;
  color: white;
}

.username-mic p{
  font-size: .9rem;
  margin-left: 1px;
}

/* 
  /MAIN
*/

/* 
  FOOTER
*/


/* 
  /FOOTER
*/

