/* 
  HEADER
*/
header{
  height: 75px;
}

/* Header Comand */
.speaker-view,
.invert{
  background-color: #4A4A4A;
  color: white;
  padding: 4px 4px;
  margin: 3px;
  border-radius: 5px;
}

.speaker-view:hover,
.invert:hover{
  background-color: darkgray;
  cursor: pointer;
}

/* Speaker View */
.speaker-view i{
  margin-right: 3px;
}

.speaker-view p{
  font-size: .9rem;
}

/* Invert */
.invert i{
  transform: rotate(45deg);
  margin-left: 1px;
}

/* 
  /HEADER
*/


/* 
  MAIN
*/
main{
  overflow: auto;
  height: 794px;
}

.picture-container{
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* User Picture */
.pic-box{
  position: relative;
  margin-bottom: 10px;
}

/* User Name - Mic */
.username-mic{
  padding: 7px 7px;
  background-color: rgba(120, 120, 120, .8);
  position: absolute;
  bottom: 0;
  color: white;
}

.username-mic p{
  font-size: .9rem;
  margin-left: 1px;
}

/* 
  /MAIN
*/

/* 
  FOOTER
*/
footer{
  height: 100px;
  background-color: aliceblue;
}

/* 
  /FOOTER
*/

