/* DEBUG */
.debug{
  background-color: darkblue;
  border: 1px solid black;
}

.debug100{
  min-height: 100px;
  background-color: aqua;
}

.debug300{
  min-height: 300px;
  background-color: purple;
}

.debug500{
  min-height: 500px;
  background-color: aquamarine;
}

/* BOX */
.pic-box{
  flex-basis: 250px;
  height: 180px;
}

/* WIDHT */
.w90{
  width: 90%;
  margin: 0 auto;
}

/* CENTER */
.center-dx-sx{
  justify-content: center;
  display: flex;
}

.center-top-bottom{
  align-items: center;
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
  display: flex;
}

/* FLEX - UTILS */
.flex{
  display: flex;
}

.flex-end-dx-sx{
  justify-content: flex-end;
}

/* COLOR */
.white{
  color: white;
}

/* SPACE */
.space10{
  margin-left: 10px;
  margin-right: 10px;
}